.errQuestionMsg{
    color: white;
    text-decoration: underline;
    font-size: 2rem;
}

.QuestionInterface{
    width: 90%;
    padding: 20px;
    /* outline: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question{
    width: 100%;
    color: whitesmoke;
    font-size: 1.3rem;
}

.row{
    color:beige;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    gap:15px ;
    justify-content: space-around;
    width: 100%;
}

.col{
    width: 40%;
    display: flex;
    gap: 15px;
}

.col input[type="radio"]{
    accent-color: rgb(101, 180, 101);
}

.moveBtns
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.moveBtns .prevBtn ,.moveBtns .nextBtn{
    padding:10px 25px;
    color:white;
    font-weight:lighter;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color:darkslategrey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}

.nextBtn[type="submit"] a{
    text-decoration: none;
    color:white;
    font-weight:lighter;
}