.scheduleContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 3rem;
    background-color: rgba(245, 245, 245, 0.212);
    border-radius: 10px;
    /* outline: 1px solid red; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#dateInput,.timeContainer .examTime{
    width: 30rem;
    padding: 10px 20px;
    border-radius: 15px;
    color: rgb(170, 118, 22);
    border: 1px solid white;
    outline: none;
    background-color:rgba(0, 0, 0, 0.514);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#dateInput:hover,.timeContainer .examTime:hover{
    border-color: rgb(170, 118, 22);
}

.timeContainer ,.buttons{
    display: flex;
    justify-content: space-around;
}

.timeContainer .examTime {
    width: 14rem;
}

.scheduleBtn{
    cursor: pointer;
    padding: 10px 20px;
    background-color: hsl(0, 3%, 45%);
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 12px 2px #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media only screen and (max-width:600px)
{
    .scheduleContainer{
        padding: 1.2rem;
    }

    .timeContainer , .buttons{
        gap: 20px;
        flex-direction: column;
    }
    #dateInput,.timeContainer .examTime{
        width: 15rem;
    }
}